[submodule "VAEngine/vendor/spdlog"]
	path = VAEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VAEngine/vendor/imgui"]
	path = VAEngine/vendor/imgui
	url = https://github.com/v3c70rPL/imgui
[submodule "VAEngine/vendor/GLFW"]
	path = VAEngine/vendor/GLFW
	url = https://github.com/v3c70rPL/glfw
